html {
    height: 100%;
}

form {
     display:inline;
     margin:0px;
     padding:0px;
}

body 
	{
		height: 100%; 
	}

.body-background {
	background-image: url("../img/call-center-4-50.png");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand {
  padding:0;
}

.menu-principal {
	border-bottom: 1px solid;
}

.footer {
	border-top: 0.5px solid;
}

.highlight {
    background-color: lightyellow !important;
}

.panel-login {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(255,255,255,1);
}

.table-img {
	padding: 10px;
	vertical-align: top;
}

.table-img td {
	vertical-align: top;
}

#page-wrapper {
    width: 100%;
    margin: 0 auto;
}

#menu {
	font-size: 17px;
}

#area-chart,
#line-chart,
#bar-chart,
#stacked,
#pie-chart{
  min-height: 250px;
}